<div class="fondohtml">
    
</div>

  <div class="msuser">
    <fieldset>
    <h2 style="padding: 15px; border-left: 15px solid #1254a1; "align="left">Datos del Usuario</h2>
    <h1 class="fs-titulo" align="left">Usuario</h1>
    <input type="text" name="usuario" placeholder="IsmMidence" />
     <h1 class="fs-titulo" align="left">Nombre</h1>
     <input type="text" name="nombre" placeholder="Ismael Midence" />
      <h1 class="fs-titulo" align="left">Email</h1>
       <input type="email" name="email" placeholder="ismael.midence@unah.hn" />
      <h1 class="fs-titulo" align="left">Edad</h1>
       <input type="email" name="email" placeholder="26" />
   </fieldset>
    </div>
  
  <div class="mspassword">
    <fieldset>
    <h2 style="padding: 15px; border-left: 15px solid #1254a1" align="left">Cambio de Contraseña</h2>
    <h1 class="fs-titulo" align="left">Contraseña Anterior</h1>
    <input type="password" name="usuario" placeholder="********" />
     <h1 class="fs-titulo" align="left">Nueva Contraseña</h1>
     <input type="password" name="nombre" placeholder="" />
       <h1 class="fs-titulo" align="left">Confirmar Contraseña</h1>
       <input type="password" name="email" placeholder="" />
     <br class="espaciado">
     <input type="button" name="save" class="savebutton" value="Guardar" />
   </fieldset>
    </div>

    <div class="mspreguntas">
        <fieldset>
            <h2 style="padding: 15px; border-left: 15px solid #1254a1" align="left">Preguntas de Seguridad</h2>
  <table>
          <thead>
              <tr>
                  <th>Pregunta</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="pregunta">¿Cuál es el nombre de tu primera mascota?</td>
                  <td class="accion">
                      <button class="select-button">Editar</button> 
                  </td>
              </tr>
              <tr>
                  <td class="pregunta">¿En qué ciudad nació tu madre?</td>
                  <td class="accion">
                      <button class="select-button">Editar</button>
                  </td>
              </tr>
              <!-- Agrega más filas según sea necesario -->
          </tbody>
      </table>
     </fieldset>
     <br>
     <br>
    </div>
