    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarUsuario">
                    <i class="fas fa-user-plus"></i> Agregar Usuario</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                        <thead>
                          <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Estado</th>
                            <th>Creado</th>
                            <th>Ultima vez</th>
                            <th>Vence</th>
                            <th>Aciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let person of listUsuarios">
                            <td>{{ person.usuario }}</td>
                            <td>{{ person.nombre_usuario }}</td>
                            <td>{{ person.correo_electronico }}</td>
                            <td>
                                <ng-container *ngIf="person.estado_usuario === 1">Activo</ng-container>
                                <ng-container *ngIf="person.estado_usuario === 2">Inactivo</ng-container>
                                <ng-container *ngIf="person.estado_usuario === 3">Bloqueado</ng-container>
                              </td>
                            <td>{{ person.fecha_creacion }}</td>
                            <td>{{ person.fecha_ultima_conexion }}</td>
                            <td>{{ person.fecha_vencimiento }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning"><i class="fas fa-solid fa-pen"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="fas fa-solid fa-user-lock"></i></button>
                                    <button type="button" class="btn btn-success"><i class="fas fa-solid fa-lock-open"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->